import(GenomicRanges)
import(GenomicAlignments)
import(ggplot2)
import(ComplexHeatmap)
import(biomaRt)
import(circlize)
import(rtracklayer)
import(grid)

export(buildAnnotationStore)
export(calcCoverage)
export(coverageRef)
export(coverageRnaRef)
export(getAnnotation)
export(getBiotypes)
export(preprocessRanges)
export(profileMatrix)
export(recoup)
export(recoupHeatmap)
export(recoupProfile)
